@font-face {
  font-family: Gotham;
  src: url(./assets/fonts/Gotham-Book.woff);
}

@font-face {
  font-family: Gotham;
  src: url(./assets/fonts/Gotham-Bold.woff);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Gotham;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FAFBFF
}
